/**
* Site body
* %% = For the footer to be at the bottom of the page
*/

.wp-site-blocks{
    position: relative;
    max-width: var(--wp--custom--width--full); 
    margin: 0 auto; 
    overflow-x: hidden;
    
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; // %%
}

.site-main{
    position: relative; 
    z-index: 0;
    flex: 1 0 auto; // %%
}

.site-footer{
    flex-shrink: 0; // %%
}

.page-container{
    &--narrow{
        padding: 0 1rem;
    }
}