# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/_dev
/dev/dist
node_modules

# theme.json parts
/_src/theme-json-parts

# misc
.DS_Store

# VS Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace