<!-- wp:template-part {"slug":"header","tagName":"header", "className":"site-header"} /-->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main"} -->
<main class="wp-block-group site-main">

    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group page-container page-container--query page-container--archive">

        <!-- wp:pattern {"slug":"blokk/query/query-archive"} /-->

    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer", "className":"site-footer"} /-->